html {
    font-family: 'Roboto', sans-serif;
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
}

h1 {
    color: white;
    font-weight: 400;
    font-size: 4em;
    text-shadow: 2px 2px 8px #1a237e;
}

#home, #about, #quizz-photo {
    text-align: center;
}

#action-validate, #action-change, #action-new
.category, .quizz-photo-card {
    margin: 16px;
}

.quizz-photo-card {
    padding: 16px;
}

#choices {
    text-align: left;
    font-size: 1.1em;
    margin-bottom: 32px;
}

.result-ok, .result-ko {
    font-size: 1.2em;
    margin-bottom: 32px;
}

.result-ok {
    color: #1a237e;
    font-weight: bold;
}

.result-ko {
    color: darkred;
    font-weight: bold;
}

#credit {
    margin-top: 16px;
    color: #808080;
}